<strong>Olá, {{name}}</strong>
<p>Obrigado por se matricular, confirme suas infomações abaixo:</p>
<p>
    <strong>Idade: </strong> {{age}} <br/>
    <strong>Altura: </strong> {{heigth}} <br/>
    <strong>Peso: </strong> {{Weight}} <br/>
    <strong>Plano Selecionado: </strong> {{selectedPlan}} <br/>
    <strong>Início do plano: </strong> {{startDate}} <br/>
    <strong>Fim do plano: </strong> {{enddate}} <br/>
    <strong>preço total: </strong> {{price}} <br/>

    <br/>
    <small>
        Em caso de dados inválidos, entre em contato conosco
    </small>
</p>
